.tools-log-content {
  width: 400px;
  height: 500px;
  overflow: auto;
  border-radius: 5px;
  padding: 10px;

  background-color: white;

  .semi-list-header {
    background: #eee;
  }
  .semi-list-footer {
    background: #eee;

    .number {
      font-weight: bold;
    }
  }
  .list-item:hover {
    background-color: var(--semi-color-fill-0);
  }
}
