[submodule "thirdparty/gflags/gflags"]
	path = thirdparty/gflags/gflags
	url = git@github.com:gflags/gflags.git
	ignore = dirty
[submodule "thirdparty/ocl/icd_loader"]
	path = thirdparty/ocl/icd_loader
	url = git@github.com:KhronosGroup/OpenCL-ICD-Loader.git
	ignore = dirty
[submodule "thirdparty/ocl/cl_headers"]
	path = thirdparty/ocl/cl_headers
	url = git@github.com:KhronosGroup/OpenCL-Headers.git
	ignore = dirty
[submodule "thirdparty/ocl/clhpp_headers"]
	path = thirdparty/ocl/clhpp_headers
	url = git@github.com:KhronosGroup/OpenCL-CLHPP.git
	ignore = dirty