# Usage: pip install -r requirements.txt

# base
cython
packaging
setuptools
gitpython>=3.1.30
aiofiles>=24.1.0
PyYAML>=5.3.1
pytest
jsonschema
multiprocess
numpy

# opencv
opencv-python>=4.8.0

# onnxruntime
onnxruntime>=1.18.0

# torch
torch>=2.0.0
