# Usage: pip install -r requirements.txt

# base
cython
packaging
setuptools==68.0.0
gitpython>=3.1.30
aiofiles>=24.1.0
PyYAML>=5.3.1
pytest
jsonschema
multiprocess
numpy

# opencv
opencv-python>=4.8.0

# onnxruntime
onnxruntime>=1.18.0

# torch
torch>=2.0.0

# server
requests>=2.31.0
fastapi>=0.104.0
uvicorn>=0.24.0
websockets>=11.0
python-multipart>=0.0.6
pydantic>=2.0.0
chardet>=5.2.0

# diffusers
accelerate
diffusers
transformers


