# Usage: pip install -r requirements.txt

# required
## base
cython
packaging
Pillow
numpy
opencv-python>=4.10.0

## server
modelscope
multiprocess
requests>=2.31.0
fastapi>=0.104.0
uvicorn>=0.24.0
websockets>=11.0
python-multipart>=0.0.6
pydantic>=2.0.0
chardet>=5.2.0

########################################################

# optional
## torch
torch>=2.0.0
torchvision>=0.15.0

## diffusers
accelerate
diffusers
transformers

## onnx
onnx>=1.16.0
onnxruntime>=1.18.0



