.gedit-selector-bounds-background {
    cursor: move;
    display: none !important;
}

.gedit-selector-bounds-foreground {
    cursor: move;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    outline: 1px solid var(--g-playground-selectBox-outline);
    z-index: 33;
    background-color: var(--g-playground-selectBox-background);
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.node-running {
    border: 1px dashed rgb(78, 64, 229) !important;
    border-radius: 8px;
}
.demo-editor {
    flex-grow: 1;
    position: relative;
    height: 100%;
}

.demo-container {
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.demo-tools {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.demo-tools-group > * {
    margin-right: 8px;
}

.mouse-pad-option-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
