.backend-page {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 16px);

  .topNav {
    background-color: #f5f5f5;
    display: flex;
    height: 35px;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px 0 0;

    .semi-avatar-small {
      width: 16px;
      height: 16px;
    }

    .companyName {
      margin-left: 1em;
    }


    .logo {
      height: 40px;
      margin-right: 16px;
    }
  }

  .main {
    display: flex;
    flex: 1;
    min-height: 0;

    .left {
      width: 150px;
      background-color: #fff;
      border-right: 1px solid #e5e5e5;
    }

    .mainRight {

      display: flex;
      flex-direction: column;

      flex: 1;
      padding: 16px;

      .tabs {
        margin-bottom: 18px;


        flex: 1;
        display: flex;
        flex-direction: column;

        .semi-tabs-content {
          flex: 1;
          margin-right: 10px;
        }

      }

      .iframe {
        width: 100%;
        height: 600px;
        border: none;
      }
    }
  }
}