.number-array-field {
  display: flex;
  gap: 8px;
  align-items: flex-start;

  .field-label {
    width: 138px;
    display: flex;
    justify-content: space-between;
  }



  .filed-array-items {
    flex: 1;

    .expression-field {
      flex: 1;
      margin-bottom: 6px;
    }
  }

}

.object-field {
  &>.field-label {
    font-style: italic;
    margin-bottom: 6px;
  }

  &>.child-fields {
    .field-label {
      padding-left: 2em;
    }
  }
}