.design-page {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 16px);

 

  .main {
    display: flex;
    flex: 1;
    min-height: 0;

    .leftNav {
      display: flex;
      flex-direction: row;
      width: auto;
      background-color: #fff;
      border-right: 1px solid #e5e5e5;

      .firstLevelNav {
        width: auto;

        .semi-navigation-item {
          padding-left: 5px;
          padding-right: 5px;

          &>i {
            margin-right: 0px;
          }
        }
      }

      .secondLevelNav {
        position: relative;
        width: 240px;
        //padding-right: 15px;
        overflow: auto;

        display: flex;

        .tree-resource {

          height: 100%;
          ;

          .tree-resource-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 5px;
            background-color: #f5f5f5;
          }
        }

        &>.semi-navigation {
          flex: 1;
          padding: 0px 0 0 5px;
          border-right: 0px;
          width: 100%;
          min-height: 0;
          overflow-y: auto;
        }

        .second-level-dragger {
          //display: none;
          width: 5px;
          cursor: col-resize;
          background: transparent;

          border-radius: 10px;

          &:hover {
            background: #999;
          }
        }

        .tree-workflow {

          height: 100%;
          ;

          .tree-workflow-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 5px;
            background-color: #f5f5f5;
          }
        }

        .tree-node {
          flex: 1;
          min-height: 0;
          overflow: auto;
          width: 100%;

          .label {
            flex: 1;
          }

          .semi-tree-option-label {
            .operate {

              display: flex;
              visibility: hidden;
              gap: 5px;
            }

            &:hover {
              .operate {
                visibility: visible;

              }
            }
          }
        }

        .node-list {
          .semi-list-header {
            font-weight: bold;
          }
        }
      }
    }

    .rightContent {
      flex: 1;
      padding: 0px 0 0 0px;
      position: relative;

      &>.top-tabs {
        height: 100%;
        display: flex;
        margin-bottom: 0px;
        flex-direction: column;

        .semi-tabs-tab-top {
          padding: 4px 4px 2px;

        }

        .semi-tabs-bar-line-extra-small {
          height: 24px;
          line-height: 24px;
        }

        .semi-tabs-tab {
          // padding-top: 3px; 
          // padding-bottom: 3px;
        }

        &>.semi-tabs-bar {
          padding-left: 5px;
        }

        &>.semi-tabs-content {
          height: 100%;
          flex: 1;
          min-height: 0;
          padding: 0px;

          &>.semi-tabs-pane {
            height: 100%;

            &>.semi-tabs-pane-motion-overlay {
              height: 100%;

              &>.tab-content {
                height: 100%;
              }
            }
          }
        }

        .semi-tabs-bar-extra {
          float: left !important;
        }
      }
    }
  }
}