.io-type-container {


  display: flex;
  flex-direction: column;

  height: 216px;
  min-height: 216px;
  max-height: 216px;
  box-sizing: border-box;


  background: #f6f6f6bb;

  .io-type-input-container {

    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;

    :global {
      input {
        background-color: white
      }
      .semi-input-clearbtn{
        background-color: white;
      }
    }


    .upload-area {
      //width: 300px;
      //height: 200px;

      // &.hasVideo {
      //   border: 0px dashed #ccc;
      // }

      // border: 2px dashed #ccc;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      //min-height: 60px;
      margin: .2em .2em;
      transition: border 0.3s;


    }

    .upload-area.dragover {
      border-color: #0066ff;
    }


  }

  .video-container {
    position: relative;
    flex: 1;
    min-height: 0;
    border-radius: 8px;
    padding: 8px;
    background: #f6f6f6;

    width: 216px;

    display: flex;
    flex-direction: column;
    min-height: 0;
    justify-content: center;


    &:before {
      visibility: hidden;
      background-color: var(--semi-color-overlay-bg);
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;

    }

    &:hover {
      &:before {
        visibility: visible;
      }

      .icon-view {
        visibility: visible;
      }

      .icon-delete {
        visibility: visible;
      }
    }

    .icon-view {
      visibility: hidden;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      color: rgba(255, 255, 255, 0.7);
      cursor: pointer;
      z-index: 10;

      &:hover {
        color: white;
      }
    }

    .icon-delete {
      visibility: hidden;
      position: absolute;
      top: 10px;
      right: 10px;

      color: rgba(255, 255, 255, 0.7);
      cursor: pointer;
      z-index: 10;

      &:hover {
        color: white;
      }
    }

    .spin {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1
    }

  }

  .io-type-output-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;

  }
}

.preview-video-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  min-height: 0;

}