// .markdown-body {
//   flex: 1;
//   min-height: 0;
//   overflow-y: auto;
// }

.markdown-body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #24292e;



  :global {


    code {
      font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;
      color: #24292e;

      .token {
        color: #6a737d !important;
      }
    }

    table {


      border-collapse: collapse;
      display: block;
      width: 100%;
      width: max-content;
      max-width: 100%;
      overflow: auto;
      font-variant: tabular-nums;

      tr {
        background-color: white;
        border-top: 1px solid #d1d9e0;

       
      }
       th,td {
          padding: 6px 13px;
          border: 1px solid #d1d9e0;
        }
    }
  }
}