.connection-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;

  .input-area {
    flex: 1;

    &>div> :first-child {
      width: 80px !important;
    }
  }

  .output-area {
    flex: 1;

    &>div> :first-child {
      width: 80px !important;
    }
  }

  //padding: 5px 5px;
  .connection-point {
    position: absolute;

    &.connection-point-left {
      left: -12px;
    }

    top: 50%;

    &.connection-point-right {
      right: -12px;
    }
  }
}

.drawer-render-form {
  width: 100%;
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;

  .form-content {
    flex: 1;
    min-height: 0;
    //overflow: auto;
  }
}

.resource-preview {
  img {
    //width :100%;
    max-width: 100%;
  }
}

.property-container {
  .UIProperties {
    display: grid;
    grid-template-columns: auto 1fr;



    &.shrink {
      padding-left: 10px;
      margin-top: 10px;
    }

    .node_repositories {
      grid-column: span 2;
    }

    .UIPropertyLeft {
      grid-column: 1;
      position: relative;

      &.isHidden {
        display: none;
      }

      &.showLine {
        &::before {
          /* 竖线 */
          content: '';
          position: absolute;
          left: -22px;
          top: -18px;

          // bottom: $ {
          //   $isLast ? '12px': '0px'
          // }
          bottom: 14px; //orgigin 0

          &.isLast {
            bottom: 12px;
          }

          width: 1px;
          background: #d9d9d9;
          display: block;
        }

        &::after {
          /* 横线 */
          content: '';
          position: absolute;
          left: -22px; // 横线起点和竖线对齐
          top: 16px; // 跟随你的行高调整
          width: 22px; // 横线长度
          height: 1px;
          background: #d9d9d9;
          display: block;
        }
      }

      .UICollapseTrigger {
        cursor: pointer;
        margin-right: 5px;
        margin-top: 3px; //added by zzh
      }

    }

    .UIPropertyRight {
      grid-column: 2;
      margin-bottom: 10px;

      &.isHidden {
        display: none;
      }

      &:last-child {
        margin-bottom: 0px;
      }

      .UIPropertyMain {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .UIRow {
          display: flex;
          align-items: center;
          gap: 6px;
          justify-content: space-between;

          .UIName {
            //flex-basis: 140px;
            display: flex;
            min-width: 0;
            max-width: 290px;

            // flex-shrink: 0;
            &.object {
              flex: 1;
            }

            &.array {
              flex: 1;
            }

          }

          .UIComponent {
            flex: 1;
            flex-shrink: 1;
            min-width: 0;


            .semi-select-selection-text {
              flex-basis: 150px;
            }


          }

          .UIActions {
            white-space: nowrap;
            flex-basis: content;
            flex-shrink: 0;
          }
        }
      }

      .UICollapsible {
        display: block;

        &.collapsed {
          display: none;
        }
      }

    }
  }
}